PORT=3000
NODE_ENV=production
# ─── BACKEND GÜVENLİK ───
JWT_SECRET=your_jwt_secret_key_here
# AES-256-GCM Şifreleme Anahtarı (Tam 32 Karakter / Hex olmalı)
#encryption key için terminalde 
#        node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" 
#yazıyoruz çıkan değeri buraya koyuyoruz
ENCRYPTION_KEY=encryption_key