# Bağımlılıklar
node_modules/

# Gizli Çevre Değişkenleri (EN KRİTİK SATIR)
.env

# Playwright Test Çıktıları ve Raporları
test-results/
playwright-report/
blob-report/
playwright/.local-browsers/

# Önbellek (Cache) Klasörleri
cache/
src/cache/
tests/cache/

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db